.Navbar {
    width: 300px;
    min-height: 92vh;
    background-color: #151515;
    font-size: 20px;
    color: #FFDB00;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

nav a {
    margin-bottom: 20px;
    text-decoration: underline;
}

nav a:last-child {
    padding-bottom: 0;
}